 
  .aboutus__content {
    margin-top: 60px;
    margin-bottom: 55px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
  }


  .aboutus__content--image img {
    width: 585px;
    border: solid;
  }

  .aboutus__content--text {
    width: 585px;
    border: solid;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-top: 20px;
    padding-left: 5px;
    padding-right: 10px;
    
  }

  .aboutus__element--withgreen {
    display: flex;
    flex-direction: row;flex-wrap: wrap;
    gap: 20px;
    padding-right: 25px;
  }

  .aboutus__greenelement--position {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .aboutus__greenelement--position span svg{
    width: 20px;
    color: #a9c623;
  }

  .aboutus__greenelement--position p {
    color: #707070;
    line-height: 1.5;
    letter-spacing: 0.05px;
    font-size: 16px;
    font-family: "AR One sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
}



.aboutus__content--text h2 {
  font-size: 14px;
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #f69946;
  line-height: 1.3;  
}

.aboutus__content--text h3 {
  font-size: 42px;
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #2c2c2c;
  line-height: 1.2; 
}

.aboutus__content--text p {
  font-size: 18px;
  font-family: "AR One sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #2c2c2c;
  line-height: 1.56; 
}

.aboutus__content--text h4 {
  color: #707070;
        line-height: 1.5;
        letter-spacing: 0.05px;
        font-size: 16px;
        font-family: "AR One sans", sans-serif;
        font-weight: 300;
        padding-right: 55px;
}













  .buttom_aboutUss button[type="submit"] {
    display: inline-block;
    background-color: #f69946;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    padding: 0.75rem 1.55rem;
    transition: background 0.25s, color 0.25s;
  }
  
  .buttom_aboutUss button[type="submit"]:hover {
    color: #fff;
    background: rgb(221, 124, 38);
  }


  .button_container_aboutUss { 
    width: 165px;
    height: 60px;
   
    font-optical-sizing: auto;
    font-weight: 700;
  }

   

  .button__inner_2of { 
    text-align: start;
    position: relative;
    justify-content: center;
    align-items: center;

    margin-left: 10px;
    margin-right: 10px;
}

.button__icon_286 {
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.button__icon--right_1Bt {
    right: 0;
}