
:root {
    /* COLORS */
    --title-color: #ffffff;
    --section-name-color: #676767;
    --text-color:  #b2b2b2;  

     /* FONTS */
     --mainfont: 'Cabin', sans-serif;
     --textfont: 'Lato', sans-serif;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 24px;
}

