    .section__contactsicons--orange {
      background: #fbf4f0;
      background-size: cover;
      background-position: center; 
      overflow-x: hidden;
      border: solid;
      }


      .contactsicons__position {
        display: flex;
      flex-direction: row;
      justify-content:space-around;
      align-items: center;
      gap: 250px;
      margin-left: 7px;
      margin-right: 10px;
      
      margin-top: 15px;
      margin-bottom: 15px;
      }

    .contactsicons__left {
      display: flex;
      flex-direction: row;
      gap: 15px;
    }

    .contactsicons__phone-location {
      display: flex;
      flex-direction: row;
      gap: 5px;
    }

    .contactsicons__phone-location p {
      font-size: 14px;
      font-family: "Istok Web", sans-serif;
      font-weight: 600;
      font-style: normal;
      color: #f69946;
      line-height: 1.6;
      letter-spacing: 0.05px;
    }

    .contactsicons__phone-location span {
      color: rgb(164, 157, 152);
      line-height: 1.6;
      font-size: 14px;
      font-family: "Istok Web", sans-serif;
      font-weight: 500;
      font-style: normal; 
    }



    .contactsicons__left ul  {
      display: flex;
      flex-direction: row;
    
      gap: 15px;
      list-style-type: none;
       
      }

    .contactsicons__left ul li  {
      width:27px;
      height:27px;
      }

      .contactsicons__left ul li a {
        fill: rgb(164, 157, 152);
        }
      
        .contactsicons__left ul li a:hover {
          fill: rgb(118, 114, 111);
          }


    .header__logo--image {
        width: 170px;
    }




    .header__nav {
  
 display: flex;
 flex-direction: row;
 justify-content: center;
 padding: 15px 20px; 
    }
    
    .header__logo--image {
      width: 170px;
  }

    .header__nav-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 250px;
      border: solid;
      
       
       
    }
    
    @media only screen and (min-width: 320px) and (max-width: 477px) {
      .header__nav-container {
        justify-content: space-between;
        margin-left: 25px;
        margin-right: 25px;
      }
    }
    
    @media only screen and (min-width: 477px) and (max-width: 901px) {
      .header__nav-container {
        justify-content: space-between;
        margin-left: 35px;
        margin-right: 35px;
      }
    }
    
    @media only screen and (min-width: 901px) and (max-width: 1200px) {
      .header__nav-container {
        gap: 15px;
        margin-left: 15px;
        margin-right: 15px;
      }
    }
    
    .header__nav-bar ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 30px;
      list-style-type: none;
    }
    
    @media only screen and (min-width: 320px) and (max-width: 477px) {
      .header__nav-bar ul {
        gap: 15px;
      }
    }
    
    .header__nav-bar ul li a {
      text-decoration: none;
    }
    
    .header__menu-link {
      position: relative;
      max-width: 100%;
      color: #333333;
      line-height: normal;
      font-size: 15px;
      font-family: "AR One sans", sans-serif;
      font-weight: 600;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    
    .header__menu-link:hover {
      color: #f69946;
      transition: 0.2s;
    }
    
    


    @media only screen and (max-width: 901px) {
      .header__hamburger {
        width: 30px;
        height: 15px;
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 21
      }
      .header__hamburger .header__hamburger-line {
        display: inline-block;
        width: 100%;
        height: 3px;
        border-radius: 4px;
        background: #962525;
        position: absolute;
        left: 0;
        opacity: 1;
        transform: rotate(0);
        transition: all 0.5s ease-in-out;
      }
    
      .header__hamburger-line:nth-child(1){
        transform-origin: center;
        top: 0;
      }
    
      .header__hamburger-line:nth-child(2){
        transform-origin: center;
        top: 10px;
      }
    
      .header__hamburger-line:nth-child(3){
        transform-origin: center;
        top: 20px;
      }
    
      #check:checked ~ .header__hamburger span:nth-child(1) {
        top: 10px;
        transform: rotate(315deg);
      }
    
      #check:checked ~ .header__hamburger span:nth-child(3) {
        top: 10px;
        transform: rotate(-315deg);
      }
    
      #check:checked ~ .header__hamburger span:nth-child(2) {
        opacity: 0;
        left: -20px;
      }
    
      #check {
        display: none;
      }
    
      .header__nav-bar {
        height: 0;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #2a3034;
        transition: 0.5s;
        overflow: hidden;
        z-index: 0;
      }
    
      .header__nav-bar.active {
        height: 5600px;
      }
    
      .header__nav-bar ul {
        display: block;
        width: fit-content;
        margin: 100px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
      }
    
      .header__nav-bar li {
        display: flex;
        justify-content: center;
      }
    
      .header__nav-bar.active ul {
        opacity: 1;
      }
    
      .header__menu-link {
        margin-bottom: 12px;
        padding: 10px 25px;
        margin: 0 5px;
        color: #fefefe;
      }
     

      .section__contactsicons--orange {
        display: none;
      }
    }
    
    #check {
      display: none;
    }
    
     