
  
    
    .orange_block_header {
      background: #fbf4f0;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 105px;
      
      overflow-x: hidden;
      padding-top: 10px;
      padding-bottom: 10px;
      }


    .phone_location_position {
      display: flex;
      flex-direction: row;
      gap: 15px;
    }

    .text_phone_locat_posit {
      display: flex;
      flex-direction: row;
      gap: 5px;
    }

    .pp_head_orange {
      font-size: 14px;
      font-family: "Istok Web", sans-serif;
      font-weight: 600;
      font-style: normal;
      color: #f69946;
      line-height: 1.6;
      letter-spacing: 0.05px;
    }

    .pp_head_gray {
      color: rgb(164, 157, 152);
      line-height: 1.6;
      font-size: 14px;
      font-family: "Istok Web", sans-serif;
      font-weight: 500;
      font-style: normal; 
    }



    .icons_positions_block ul  {
      display: flex;
      flex-direction: row;
    
      gap: 15px;
      list-style-type: none;
      }

    .icons_positions_block ul li  {
      width:27px;
      height:27px;
      }



    .image_header_logo {
        width: 170px;
    }
    
    
    .menu_link {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        margin-left: 90px;
        margin-right: 90px;  
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    
    
    
    @media only screen and (min-width:320px) and (max-width:477px) {
      .menu_link   {
        justify-content:space-between;
         
        margin-left: 25px;
        margin-right: 25px;
      }
    }
    
    @media only screen and (min-width:477px) and (max-width:901px) {
      .menu_link   {
        justify-content:space-between;
        margin-left: 35px;
        margin-right: 35px;
      }
    }
    
    @media only screen and (min-width:901px) and (max-width:1200px) {
      .menu_link   {
        gap: 15px;
        margin-left: 15px;
        margin-right: 15px;
      }
    }
    
    
    
    
    
    .nav-bar ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        list-style-type: none;
      }
    
      @media only screen and (min-width:320px) and (max-width:477px)  {
        .nav-bar ul  {
          gap: 15px;
        }
    }
    
      .nav-bar ul li a {
        text-decoration: none;
      
      }
    
    .nav__menu-link {
        position: relative;
        max-width: 100%;
        color: #333333;
        line-height: normal;
        font-size: 15px;
        font-family: "AR One sans", sans-serif;
        font-weight: 600;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
    }
    
    .nav__menu-link:hover {
        color: #f69946;
    }
    
    
    
   
    
    
    
    
    
    @media only screen and (max-width:901px) {
        .hamburger  {
          display: block;
          cursor: pointer;
          z-index: 1;
        }
      .hamburger .line {
        width: 30px;
        height: 3px;
        background: #333333;
        margin: 6px 0;
      }
      
      .nav-bar {
        height: 0;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #fff;
        transition: 0.5s;
        overflow: hidden;
        z-index: 0;
      }
      
      .nav-bar.active {
        height: 5600px;
      }
      
      .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 100px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
      }
    
      
      .nav-bar li {
        display: flex;
       justify-content: center;
      }
      
      .nav-bar.active ul {
        opacity: 1;
      }
      .nav__menu-link {
        margin-bottom: 12px;
        padding: 10px 25px;
        margin: 0 5px;
        color: #333333;
      }

      .orange_block_header {
        display: none;
      }
    }