 
.howItWorks_block_position {
    margin-top: 115px;
    margin-bottom: 50px;
    margin-left: 165px;
    margin-right: 165px;
}

.pp_hh23_elem_position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 190px;
    padding-right: 190px;
    border: solid;
}
.pp_howItWorks_text {
    font-size: 14px;
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #f69946;
    line-height: 1.3;  
  }
  
  .hh2_dontWorry_text {
    font-size: 42px;
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #2c2c2c;
    line-height: 1.2; 
  }
  
  .hh3_weWorkWith_text {
    font-size: 18px;
    font-family: "AR One sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #2c2c2c;
    line-height: 1.56;
    text-align: center; 
  }


  .elements_howItWorks_three {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
  }

  .one_element_howItWorks {
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 385px;
    padding-left: 9px;
    padding-right: 9px;
  }

  .image_howItWorks {
    width: 100px;
  }

  .hh3_chooseItems_text_position {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .hh3_text_number_one {
    font-size: 22px;
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
    font-style: bold;
    color: #f69946;
    line-height: 1.4;
    text-align: center; 
  }

  .hh3_text_text_two {
    font-size: 22px;
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
    font-style: bold;
    color: #2c2c2c;
    line-height: 1.4;
    text-align: center; 
  }

  .pp_text_shopOnline {
    font-size: 16px;
    font-family: "AR One sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #858585;
    line-height: 1.5;
    letter-spacing: 0.05px;
    text-align: center; 

  }