.image_fruit_block {
   
    background-size: cover;
    background-position: center;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    overflow-x: hidden;
  }
  
  .image__fruit_block_position {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .elements_position_fruit_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .oneElement_fruit_block {
display: flex;
flex-direction: column;
justify-content: flex-end;
gap: 25px;
padding-left: 53px;
padding-right: 53px;
padding-top: 10px;
padding-bottom: 10px;
border: solid;
  }


  .image_fruit_all {
    width: 110px;
  }

  .hh2_fruit_pictures_text {
    font-size: 22px;
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #242424;
    line-height: 1.4;
    text-align: center;
  }