.ourapp {
    background-color: #fbf4f0;
    background-size: cover;
    background-position: center;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    overflow-x: hidden;
    }
  
  .ourapp__position {
    margin-top: 100px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
  }

  .ourapp__element {
    padding: 5px;
    border: solid;
  }

  .ourapp__element-image {
    width: 570px;
    height: 543px;
  }