.foodMarker_block_shopForGroceries {
    background: url(/img/aboutUs_back.png);
    background-size: cover;
    background-position: center;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    overflow-x: hidden;
    }

.foodMarket_forGroceries {
    margin-top: 250px;
    margin-bottom: 250px;
}

.blockOne_forGroceries {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 90px;
}

.text_forGroceries {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-right: 15px;
    width: 680px;
}

.white_text_block {
    width: 550px;
}

.pp_text_forGroceries {
    font-size: 14px;
    font-family: "Istok Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #f69946;
    line-height: 1.3;
}

.hh1_forGroceries_text_one {
    font-size: 72px;
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #a9c623;
    line-height: 1.1;  
}

.hh1_forGroceries_text_two {
    font-size: 72px;
    font-family: "Istok Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #242424;
    line-height: 1.1;
}







.buttom_forGroceries_position {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 380px;
    margin-top: 50px;

}



.buttom_forGroceries button[type="submit"] {
    display: inline-block;

    font-size: 13px;
    background: #a9c623;
    color: #ffffff;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 0.75rem 1.55rem;
    transition: background 0.25s, color 0.25s;
  }
  
  .buttom_forGroceries button[type="submit"]:hover {
    color: #fff;
    background: rgb(148, 175, 22);
  }

  .button_container_one { 
    width: 170px;
    height: 60px;
    border: none;
    background-color: #a9c623;
    text-decoration: none;
 
    font-optical-sizing: auto;
    font-weight: 700;
  
    border-radius: 5px;
    border-width: 5px;
   
  }


  
  .button__inner_2of {
    display: flex;
    flex-direction: row;
    gap: 25px;
    position: relative;
    justify-content: center;
    align-items: center;
    border: solid;

}

.button__icon_286 {
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.button__icon--right_1Bt {
    right: 0;
}

