
  .timeDays_block_position {
    margin-top: 60px;
    margin-bottom: 60px;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
  }


  


  .timeCode_background_bestDeals {
    background: url(/img/background/background_timeCode.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    overflow-x: hidden;

    width: 1190px;
    }

    .marrggg {
        margin-top: 65px;
        margin-bottom: 65px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .pp_hh23_elem_position_timeDays {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        
    }
    
    .pp_timeDays_text {
        font-size: 14px;
        font-family: "Istok Web", sans-serif;
        font-weight: 700;
        font-style: bold;
        color: #f69946;
        line-height: 1.3;  
      }
      
      .hh2_timeDays_text {
        font-size: 42px;
        font-family: "Istok Web", sans-serif;
        font-weight: 700;
        font-style: bold;
        color: #fff;
        line-height: 1.2; 
      }
      
      .hh3_timeDays_text {
        font-size: 16px;
        font-family: "AR One sans", sans-serif;
        font-weight: 300;
        font-style: normal;
        color: #fff;
        line-height: 1.56;
        letter-spacing: 0.05;
        text-align: center; 
    
        width: 550px;
      }
























.hh3_useCode_Fresh_position {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;

}

.hh3_textcolor_usecodeTime_one {
    font-size: 18px;
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    line-height: 1.56; 

}

.hh3_textcolor_usecodeTime_two {
    font-size: 18px;
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #f69946;
    line-height: 1.56; 

}
      







.launch-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.launch-time div {
 display: flex;
 flex-direction: column;
 
 align-items: center;
 padding: 38px 60px;

}

.launch-time div p {
  font-size: 50px;
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-style: bold;
  color: #fff;
  line-height: 1.56; 
  margin-bottom: -14px;
  
}

.launch-time div span {
  font-size: 23px;
  font-family: "AR One Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #a9a9a9;
  line-height: 1.56; 
  margin-bottom: -14px;
  
}

