.whyChooseUs_background {
    background: url(/img/background/whyChooseUs_back.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    overflow-x: hidden;
    }

.whyChooseUs_block_position {
    margin-top: 120px;
    margin-bottom: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.elements_block_size_whyChooseUs {
  width: 590px;
}

 
.hjkkkk {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pp_hh23_elem_position_whyChooseUs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.pp_whyChooseUs_text_one {
    font-size: 16px;
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #a9c623;
    line-height: 1.3;  
  }
  
  .hh2_whyChooseUs_text_one {
    font-size: 42px;
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #2c2c2c;
    line-height: 1.2; 

    padding-bottom: 7px;
  }
  
  .hh3_whyChooseUs_text_one {
    font-size: 17px;
    font-family: "AR One sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #2c2c2c;
    line-height: 1.56;
  }


  .foto_elements_whyChooseus {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }


  .elements_two_whyChooseUs_column {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 20px;
  }


  .foto_hh3_pp_whyChooseUss {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 285px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
  }


  .image_whyChooseUs {
    width: 80px;
    height: 80px;
  }


  
  .hh3_whyChooseUs_text {
    font-size: 22px;
    font-family: "Istok Web", sans-serif;
    font-weight: 600;
    font-style: bold;
    color: #333333;
    line-height: 1.4;
}

.pp_whyChooseUs_text {
    font-size: 16px;
    font-family: "AR One sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #707070;
    line-height: 1.5;
    letter-spacing: 0.05px;
    text-decoration: none;
}
 








.whyChooseUs_background_green {
  background: url(/img/background/whyChooseUs_backGreen.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  overflow-x: hidden;
  }

.whyChooseUs_block_position_green {
  margin-top: 50px;
  margin-bottom: 55px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}


.hh3_whyChoose_green {
  font-size: 42px;
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-style: bold;
  color: #fff;
  line-height: 1.2;
}

.pp_whyChoose_green {
  font-size: 14px;
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-style: bold;
  color: #fff;
  line-height: 1.3;
  text-decoration: none;
}
