<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Market Website</title>
    <link rel="shortcut icon" href="https://placekitten.com/96/139" type="image/x-icon">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>



    



 <!-- редагувати-->
    <link rel="stylesheet" type="text/css" href="main.css">
    <!-- шрифт 1-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&display=swap" rel="stylesheet">
    <!-- шрифт 2-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    


 <!-- шрифт 3 Source Sans 3 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">



   
    <!-- тут для слайдера в блок  top pics лінк та стилі-->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <style type="text/css">
        .img_box img {
            max-width: 100%;
        }

        .slider_container .container{
            padding: 0 15px;
            max-width: 1220px;
            margin: 0 auto;
        }

        .card_slider{
            padding: 50px 0;
        }

        .colorit {
            color: gray;
        }
    </style>
    
</head>
<body>
    <header class="header">
        <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.header-hero.partial.html"></div>
        <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.header-nav.partial.html"></nav>
    </header>
    <main>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-shop.partial.html"></section>
        
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-about-us.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-how-it-works.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-fresh-deals.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-why-choose-us.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-top-picks.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-time-code.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-our-app.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-organic.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-testimonials.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-contacts.partial.html"></section>
    </main>
    <footer>
        <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.footer.partial.html"></nav>
    </footer>
    <script src="javaScript/header.js"></script>
    <script src="javaScript/time_days.js"></script>
</body>
</html>